* {
  margin: 0;
}
.site-title {
  width: 120px;
  color: #852a2a;
  font-size: 0.9rem;
  display: flex;
}

#header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* margin: 0 auto; */
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  margin-left: 30px;
}
#header li:hover {
  opacity: 0.7;
}
header {
  display: flex;
}

.mainVisual {
  /* max-width: 100%; */
  /* max-height: 100%; */
  max-width: 100%;
  width: 1500px;
  height: 600px;
}
.container {
  font-size: 1rem;
  display: inline-flex;
  margin-right: 20px;
  /* padding-left: 50px; */
  margin-left: 150px;
  flex-direction: row;
  /* justify-content: space-around; */
  justify-content: flex-end;
  align-items: center;
}
.test {
  width: 800px;
  height: 40px;
  /* margin: 10px; */
  padding: 10px;
  justify-content: center;
}
li {
  padding: 0px 10px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.item {
  text-align: center;
  /* font-size: 50px; */
  font: bold;
  /* text-decoration: underline;  */
  border-bottom: solid 1px black;
}
.nav {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 70px;
}
.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profImage {
  /* 写真を丸く切り取る */
  width: 100px;
  height: 100px;
  margin-right: 40px;
}
.prof {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.about {
  /* display: flex; */
  width: 403px;
  margin-bottom: 10px;
}
.name {
  font-weight: bold;
}
.container2 {
  display: flex;
  flex-direction: column;
}
.visual {
  width: 270px;
  height: 180px;
}
.footer {
  font-size: 0.5rem;
  text-align: center;
}
