.site-title {
  width: 120px;
  color: #852a2a;
  font: bold;
  font-size: 15px;
}
img {
  max-width: 100%;
}
.test {
  max-width: 100%;
  width: 120px;
}
.container{
  list-style: none;
  display: inline-flex;
  margin-right: 30px;
  padding-left: 0px;
  flex-direction: row;
}
li{
padding: 0px 10px;
}
a{
text-decoration: none;
  color: #000;
}