.header {

   background: red;
}
.site-title{
width: 120px;
   height: 10px;
line-height: 1px;
padding: 10px 0;

}
.profile {
  background: #000;
  color: #fff;
}
.menu{
   display: flex;

flex-direction: row;
}
.items{
}