.test {
  font-weight: bold;
  background: pink;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
/* header>img { */
img {
  max-width: 100%;
  /* opacity: 0.9; */
  /* width: 150px; */
  /* height: 40px; */
}
#header {
  margin-top: 60px;
}
#header> .site-title {
  width: 160px;
  /* width: 1000px; */
  margin-bottom: 15px;
}
  .main1{
  width: 160px;
  /* max-width: 100%; */
  width: 1000px;
  margin-bottom: 15px;
}
.main1 {
width: 640px;
}