.main {
  width: 200px;
}

#index {
  color: red;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}

.h2 {
}

.img {
  width: 300px;
}

#detail {
  color: red;
  margin-left: 200px;
  display: flex;
  flex-direction: row;
}

.detail {
  display: flex;
  flex-direction: column;
}

.fully {
  display: flex;
  flex-direction: row;
}
