.main {
  width: 300px;
}

#index {
  color: red;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}

.img {
  width: 300px;
}

#detail {
  color: red;
  margin-left: 200px;
  display: flex;
  flex-direction: row;
}

.detail {
  display: flex;
  flex-direction: column;
}

.fully {
  display: flex;
  flex-direction: row;
}

.dl {
  border-top: solid 1px;
  border-bottom: solid 1px;
}
